@tailwind base;
@tailwind components;
@tailwind utilities;

/**nav bar**/
.logo-link {
    display: inline-block;
  }
  
  .logo-image {
    width: 150px; /* Adjust the width according to your design */
    height:auto; /* Maintain aspect ratio */
  }

/**carousel**/
.carousel {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    height: 300px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-arrow:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-arrow.prev {
    left: 10px;
}

.carousel-arrow.next {
    right: 10px;
}