/* Include the font link */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

/* Apply the font to the body */
body {
    font-family: 'Karla', sans-serif;
    letter-spacing: -0.4px;
    background-color: #f4f4fc;
}

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;


        @keyframes slideInFromTop {
            0% {
                transform: translateY(-100%);
            }
    
            100% {
                transform: translateY(0);
            }
        }
    
        .animate-slide-in {
            animation: slideInFromTop 0.8s ease-out;
        }
    
        .animate-fade-in {
            animation: fadeIn 0.7s ease-out forwards;
        }
    
        @keyframes fadeIn {
            0% {
                opacity: 0;
            }
    
            100% {
                opacity: 1;
            }
        }
    
        .fade-in-hidden {
            opacity: 0;
            transition: opacity 0.7s;
        }
    
        .fade-in-visible {
            opacity: 1;
        }

                                .back-to-top {
                                    position: fixed;
                                    bottom: 20px;
                                    right: 20px;
                                    background-color: black;
                                    color: #fff;
                                    padding: 10px 20px;
                                    border-radius: 4px;
                                    cursor: pointer;
                                    display: none;
                                    z-index: 9999;
                                }
                
                                .back-to-top a {
                                    text-decoration: none;
                                    color: #F6E17A;
                                }
                
                                .back-to-top:hover i {
                                    color: #F6E17A;
                                    /* Change the color to your desired hover color for the icon */
                                }
                
                
                                .back-to-top:hover {
                                    background-color: black;
                                    text-decoration: none;
                                }
                
                                .back-to-top i:hover {
                                    color: #F6E17A;
                                    /* Change the color to your desired hover color */
                                }

/**nav bar**/
.logo-link {
    display: inline-block;
}

.logo-image {
    width: 150px;
    height: auto;
    padding-top: 13px;
}

/**banner home**/

                /* Media query for smaller screen sizes (e.g., mobile devices) */
                @media screen and (max-width: 767px) {
        p {
        letter-spacing: -0.4px;
        line-height: 1.5 !important;
        }

         .back-to-top {
             bottom: 10px;
             right: 10px;
             padding: 8px 16px;
             font-size: 14px;
         }
    
         .back-to-top a {
             font-size: 14px;
         }
    
         .back-to-top i {
             font-size: 16px;
             /* Adjust icon size if necessary */
         }

                    .carousel {
                        height: 300px !important;
                        /* Adjust height for mobile view */
                    }
        
                    .carousel-inner {
                        height: 300px !important;
                        /* Adjust height for mobile view */
                    }
        
                    .carousel-item {
                        height: 300px !important;
                        /* Adjust height for mobile view */
                    }
        
                    .carousel-arrow {
                        font-size: 20px !important;
                        /* Adjust arrow size */
                        padding-left: 20px !important;
                        padding-right: 20px !important;
                    }

                    .fas {
                        padding-left: 10px !important;
                        padding-right: 10px !important;
                    }
        
                    .section,
                    .text-2xl {
                        padding: 0px 10px !important;
                        font-size: 16px !important;
                        text-align: center;
                        margin-top: 10px !important;
                        /* Adjusted padding for mobile view */
                    }

                    .h1 {
                        font-size: 16px !important;
                    }

                    h1 {
                        font-size: 20px !important;
                    }

                    .carousel-dot {
                        width: 8px !important;
                        height: 8px !important;
                        margin: 0px 4px !important;
                    }

                    /* CSS for title in mobile view */
                    .titlee {
                        font-size: 14px !important;
                        /* Example font size for mobile view */
                        padding-right: 40px !important;
                        /* Adjust padding for mobile view */
                        padding-bottom: 70px !important;
                        /* Adjust padding for mobile view */
                    }
                    
                    /* CSS for button in mobile view */
                    .page-button {
                        margin-right: 57px !important;
                        /* Adjust margin for mobile view */
                        margin-bottom: 60px !important;
                        /* Adjust margin for mobile view */
                    }

                    .yellow-btn {
                        padding: 5px 10px !important;
                        font-size: 14px !important;
                    }

                    .feature {
                        font-size: 14px !important;
                        padding-right: 40px !important;
                            /* Adjust padding for mobile view */
                            padding-bottom: 88px !important;
                            /* Adjust padding for mobile view */
                    }

                    .about-us {
                        padding: 20px;
                        align-items: center;
                        font-size: 20px !important;
                    }

                    .about-us h1 {
                        margin-bottom: 20px;
                        font-size: 20px !important;
                    }

                    .learn-more-btn {
                        padding: 5px 10px !important;
                        font-size: 12px !important;
                        bottom: 80px !important;
                        right: 40px !important;
                    }

                    /* second carousel home*/
                    .carousel-section {
                        background: linear-gradient(to bottom, transparent, #F6E17A);
                        /* Gradient background */
                        padding: 30px 0 !important;
                        /* Adjust padding as needed */
                    }

                    .carousel-section .carousel-dots .dot {
                        width: 8px !important;
                        height: 8px !important;
                        margin: 0 5px;
                        border-radius: 50%;
                    }

                    .section-title {
                        font-size: 24px;
                        padding-left: 20px;
                    }

                    .news-content {
                        flex-direction: column;
                    }

                    .news-image,
                    .news-text {
                        flex: auto !important;
                        padding-left: 20px !important;
                        padding-right: 20px !important;
                        padding-top: 10px !important;
                    }

                    .news-image {
                        height: 250px !important;
                        /* Ensure the image is visible */
                        background-size: cover !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                    }

                    .description {
                        font-size: 14px !important;
                        text-align: justify;
                        font-weight: normal !important;
                        padding-bottom: 10px !important;
                        padding-top: 10px !important;
                    }

                    .latest-products {
                        padding: 20px 10px;
                    }

                    .products-container {
                        display: grid !important;
                        grid-template-columns: 1fr 1fr;
                        gap: 10px;
                        padding-top: 0px !important;
                        padding-left: 10px !important;
                        padding-right: 10px !important;
                    }

                    .product-column {
                        padding: 10px;
                        height: 160px !important;
                    }

                    .product-image {
                        height: 100px !important;
                    }

                    .product-name {
                        font-size: 14px !important;
                    }

                    .product-description {
                        font-size: 12px !important;
                    }

                    .white-btn {
                        padding: 10px 80px;
                        border-radius: 50px;
                        background-color: white;
                        color: black;
                        font-weight: bold;
                        font-size: 14px !important;
                    }

                    .products-button-container {
                        padding-top: 50px !important;
                        text-align: center;
                    }

                    .customers {
                        padding-top: 10px !important;
                        padding-bottom: 10px !important;
                    }

                    .third-carousel-section {
                        position: relative;
                        overflow: hidden;
                        width: 100%;
                        height: auto;
                    }

                    .third-carousel {
                        background: url(../assets/image/testimonials.png) no-repeat center center;
                        background-size: cover;
                        padding: 0px 0 !important;
                        height: 320px !important;
                    }

                    .third-carousel-inner h1 {
                        display: flex;
                        transition: transform 0.5s ease;
                        font-size: 12px !important;
                    }

                    .hear {
                        text-align: center !important;
                        padding-top: 10px !important;
                    }

                    .hearr {
                        transition: transform 0.5s ease;
                        font-size: 14px !important;
                        padding-bottom: 20px !important;
                        text-align: center !important;
                        padding-right: 0px !important;
                        padding-top: 10px !important;
                    }

                    .text-3xl {
                        display: flex;
                        transition: transform 0.5s ease;
                        font-size: 10px !important;
                        padding-top: 0px !important;
                        font-weight: normal !important;
                        padding-bottom: 0px !important;
                    }

                    .third-carousel-inner {
                        transition: transform 0.5s ease;
                        font-size: 14px !important;
                    }

                    .third-carousel-item {
                        min-width: 100%;
                        height: 200px !important;
                        padding: 0px 60px !important;
                        color: white;
                        text-align: center;
                    }

                    .third-carousel-arrow {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        cursor: pointer;
                        z-index: 1;
                        font-size: 20px !important;
                        padding-left: 0px !important;
                        padding-right: 0px !important;
                    }

                    .third-carousel-arrow.next {
                        right: 5px !important;
                        padding: 10px !important;
                    }

                    .third-carousel-arrow.previous {
                        left: 5px !important;
                    }

                    .third-dot {
                        width: 8px !important;
                        height: 8px !important;
                        border-radius: 50%;
                        margin: 0 5px;
                        cursor: pointer;
                        transition: background-color 0.3s ease;
                        margin-bottom: 20px;
                    }

                    .testimonial-message {
                        font-size: 12px !important;
                        padding: 0 !important;
                        margin: 0 !important;
                        line-height: 1.5 !important;
                        text-align: justify !important;
                    }

                    .cname {
                        font-size: 10px !important;
                        padding: 0 !important;
                        margin: 0 !important;
                    }

                    .company {
                        font-size: 10px !important;
                        padding: 0 !important;
                        margin-top: -20px !important;
                    }

                    .third-carousel-dots {
                        padding-top: 20px !important;
                    }

                    .brand-logo {
                        min-width: 250px !important;
                        max-width: 250px !important;
                        min-height: 220px !important;
                        max-height: 220px !important;
                    }
}

/* Latest Products Section */
.latest-products {
    padding-top: 40px;
    padding-bottom: 20px;
    background: linear-gradient(to bottom, transparent, #F6E17A);
}

.section-title {
    text-align: center;
    font-size: 38px;
    font-weight: 800;
}

.products-container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 190px;
    padding-right: 190px;
    flex-wrap: wrap;
    /* Ensure wrapping on smaller screens */
}

.product-column {
    flex: 1;
    padding: 20px;
    height: 400px;
    text-align: center;
}

.product-image {
    background-size: cover;
    background-position: center;
    padding: 20px;
    height: 100%;
    transition: transform 0.3s ease;
}

.product-image:hover {
    transform: scale(1.1);
}

.product-name {
    font-weight: 600;
    margin-top: 10px;
}

.product-description {
    margin-top: 5px;
}

.products-button-container {
    padding-top: 100px;
    text-align: center;
}
                                                                                        
.carousel {
    position: relative;
    overflow: hidden;
    height: 600px;
}


.description {
    font-size: 1.25rem;
    padding-bottom: 15px;
    text-align: justify !important;
}

.news-image {
    flex: 2;
    padding-left: 50px;
    background-color: #ccc;
    height: 500px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.titlee {
    padding-right: 170px;
    padding-bottom: 140px;
}

.page-button {
    margin-right: 185px;
    margin-bottom: 100px;
    border-radius: 5px;
}

.feature {
    padding-right: 170px;
    padding-bottom: 210px;
}


.section-title {
    text-align: center;
    font-size: 38px;
    font-weight: 800;
}

.news-content {
    display: flex;
}

.image {
    width: 100% !important;
    height: 100% !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.news-text {
    text-align: center;
    flex: 1;
    padding-top: 10%;
    padding-right: 100px;
    padding-left: 50px;
    align-items: center;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    height: 600px;
}

.carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
}

.carousel-arrow.prev {
    left: 10px;
    background-color: transparent
}

.carousel-arrow.next {
    right: 10px;
    background-color: transparent
}

/* Additional styles */
/* homebody */
p {
    font-size: 31px;
    letter-spacing: -0.4px;
    line-height: 1.2;
}

/* section home */
.section {
    display: flex;
    padding: 0px 190px;
}

.section .column {
    flex: 1;
}

.about-us {
    padding: 20px;
    align-items: center;
}

.about-us h2 {
    margin-bottom: 20px;
}

/*YELLOW BUTTON*/
.yellow-btn {
    background-color: #F6E17A;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.yellow-btn:hover {
    background-color: #F9E89B;
}

/* second carousel home*/
.carousel-section {
    background: linear-gradient(to bottom, transparent, #F6E17A);
    /* Gradient background */
    padding: 50px 0;
    /* Adjust padding as needed */
}

.carousel-section .carousel-dots .dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
}

.carousel-dots {
    display: flex;
    justify-content: center;
}

.learn-more-btn {
    background-color: #ffffff;
    /* Background color */
    color: #000;
    /* Text color */
    border: none;
    /* Remove border */
    border-radius: 50px;
    /* Border radius */
    padding: 10px 30px;
    /* Padding */
    position: absolute;
    bottom: 70px;
    right: 100px;
    /* Align to the left */
    z-index: 999;
    /* Ensure it stays on top */
    font-size: 24px;
}

.learn-more-btn:hover {
    background-color: #D9D9D9;
}

.white-btn {
    background-color: #ffffff;
    /* Background color */
    color: #000;
    /* Text color */
    border-radius: 50px;
    border: none;
    font-size: 24px;
    padding: 10px 80px;
}

.white-btn:hover {
    background-color: #D9D9D9;
}

.third-carousel-section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
}

.third-carousel {
    background: url(../assets/image/testimonials.png) no-repeat center center;
    background-size: cover;
    padding: 50px 0;
    /* Adjust padding as needed */
}

.third-carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.third-carousel-item {
    min-width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    /* Change flex direction to column */
    align-items: center;
    justify-content: center;
    padding: 0 280px;
    color: white;
    text-align: justify;
    /* Center text horizontally */
}

.third-carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
    /* Ensure arrows stay above carousel items */
}

.third-carousel-arrow.prev {
    left: 20px;
}

.third-carousel-arrow.next {
    right: 20px;
}

.third-dot {
    width: 10px;
    /* Adjust dot size as needed */
    height: 10px;
    /* Adjust dot size as needed */
    border-radius: 50%;
    margin: 0 5px;
    /* Adjust margin between dots as needed */
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

/*contact us*/
.address-item {
    transition: background-color 0.5s;
    padding: 10px;
    border: 3px solid #000000;
        background-color: #949494;
}

.address-item:hover {
    background-color: #F6E381;
    /* Change to your desired color */
}

.address-item.selected {
    background-color: #F6E381;
    /* Change to your desired color for selected item */
}


.btn-primary {
    background-color: #F6E17A;
    color: black;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 19px;
}

.btn-secondary {
    background-color: #d9d9d9;
    color: black;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 19px;
}

.btn-danger {
    background-color: #f87474;
    color: black;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 19px;
}

.btn-view {
    background-color: #a8c4dc;
    color: black;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 19px;
}

.btn-primary:hover {
    background-color: #F9E89B;
}

.btn-view:hover {
    background-color: #b6cde2;

}

.btn-danger:hover {
    background-color: #f98686;
}

.btn-secondary:hover {
    background-color: #e6e6e6;
}

.previewproductimage {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
}

td,
th {
    text-align: center;
}

.centered-image {
    display: block;
    margin: 0 auto;
    /* This will center the image horizontally */
}

#addProductModal .bg-white {
    max-height: 100%;
}

#viewVariations {
    display: flex;
    flex-wrap: wrap;
}
#viewVariations div label {
    text-align: center;

}
#viewVariations div img {
    display: block;
    margin: 0 auto;
    max-width: 100px;
    max-height: 100px;
}

        /* Define fade animation */
        @keyframes fade-in {
            from {
                opacity: 0;
            }
    
            to {
                opacity: 1;
            }
        }
    
        @keyframes fade-out {
            from {
                opacity: 1;
            }
    
            to {
                opacity: 0;
            }
        }
    
        /* Apply animation classes */
        .fade-in {
            animation: fade-in 0.2s ease forwards;
        }
    
        .fade-out {
            animation: fade-out 0.2s ease forwards;
        }                              